* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    }
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}

.primary__button{
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.continer{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
    
}
.hero__image{
    width:100%;
}


.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;

}
.exlpore__menu_container{
    margin-top: 50px;
}
.exlore__menu__text{
    
    text-align: center;
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;}




.food__menu__card{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    
}
.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;

}
.food__menu__card__description{
    padding: 20px;
}
.food__menu__card__view__more{
    display: flex;
    justify-content: center;
}
@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px;
    }
    .primary__button{
        padding: 12px 20px;
        font-size: 20px;
    }  
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
   .explore_menu_lists{
       margin-top: 40px;
       display: flex;
       gap: 10px;
   }
   #pizza_upper{
       margin-top: -20px;
       margin-bottom: 25px;
   }
   .exlpore__menu__container{
       position: relative;
   }
   
   .explore__menu__gradient__bg{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );left: 0;
      right: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    transform: skewY(-5deg);
    
       
   }
       

   
}

@media (min-width:1020px){
    .container{
        max-width: 900px;
        
}

.hero__description{
    width: 900px;
}
.hero__text{
    font-size: 50px;
    
        }
.hero__image__container{
    width: 900px;
    justify-content: space-evenly;
}
       
        

}

@media (min-width:1400px){
    .container{
    max-width: 1250px;
    }
}